!!!
%html
  %head
    %title
      Cognito auth example
  %body
    %h1
      Welcome

    %a{ href: "/auth/fishbrain" }
      Log in with Fishbrain

    %a{ href: "/auth/cognito-idp" }
      Log in with Cognito
